/* FFFCF2 - off white
CCC5B9 light grey
403D39 dark grey
252422 black
EB5E28 orange */


.App {
  background-color: #403D39;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  padding: 5% 1% 5% 1%;
} 

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-greeting {
  color: #FFFCF2;
  margin: 0;
  padding-top: 5%;
}

@media screen and (min-device-width: 1260px) {
  .App {
  }
}
