.rate-job-page {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    height: 86vh;
}

form {
    align-items: center;
    box-shadow: 2px 7px 4px 2px #403D39, 0px 2px 4px 5px #403D39;
    display: flex;
    flex-direction: column;
    height: 95%;
    margin-top: 2%;
    width: 80%;
}

.question-container {
    /* margin-top: 5%; */
}

.answer {
    margin-top: 5%;
}

.rate-business-questions {
    margin-top: 2%;
}

.submit-business-rating {
    margin-top: 35%;
}

.rate-business-btn {
    font-size: small;
}

h1 {
    margin-bottom: 0;
}