.job-card {
    box-shadow: 2px 7px 4px 2px #403D39, 0px 2px 4px 5px #403D39;
    color: #403D39;
    padding: 2%;
    height: 35vh;
}

h3, h5 {
    text-align: center;
    margin: 0 0 2% 0;
}

h2 {
    text-align: center;
    margin-bottom: 0%;
}

p {
    text-align: center;
}

.job-links {
    flex-wrap: wrap;
    height: 34%;
    width: 40%; 
    margin-top: 12%;
    text-decoration: none;
}

.todays-jobs-display {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100vw;
}

.todays-jobs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    padding: 0% 2% 8% 2%;
}